In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1 = pd.read_csv("D:\My commercial projects\Python\Mexico Toy Sales\inventory.csv")

#### Browsing files

In [3]:
import glob

# getting csv files from the folder MyProject
path = "D:\My commercial projects\Python\Mexico Toy Sales"

# read all the files with extension .csv
filenames = glob.glob(path + "\*.csv")
print('File names:', filenames)

# for loop to iterate all csv files
for file in filenames:
   # reading csv files
   print("Reading file = ",file)
   print(pd.read_csv(file))

File names: ['D:\\My commercial projects\\Python\\Mexico Toy Sales\\inventory.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\products.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\sales.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\stores.csv']
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\inventory.csv
      Store_ID  Product_ID  Stock_On_Hand
0            1           1             27
1            1           2              0
2            1           3             32
3            1           4              6
4            1           5              0
...        ...         ...            ...
1588        50          31             18
1589        50          32              9
1590        50          33              1
1591        50          34             17
1592        50          35              8

[1593 rows x 3 columns]
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\products.csv
    Product_ID           Product_Name   Product_Category Product_Cost  \
0            1          Action Figure               Toys       $9.99
1            2         Animal Figures               Toys       $9.99
2            3        Barrel O' Slime       Art & Crafts       $1.99
3            4       Chutes & Ladders              Games       $9.99
4            5       Classic Dominoes              Games       $7.99
5            6              Colorbuds        Electronics       $6.99
6            7               Dart Gun  Sports & Outdoors      $11.99
7            8          Deck Of Cards              Games       $3.99
8            9               Dino Egg               Toys       $9.99
9           10       Dinosaur Figures               Toys      $10.99
10          11          Etch A Sketch       Art & Crafts      $10.99
11          12     Foam Disk Launcher  Sports & Outdoors       $8.99
12          13       Gamer Headphones        Electronics      $14.99
13          14          Glass Marbles              Games       $5.99
14          15      Hot Wheels 5-Pack               Toys       $3.99
15          16                  Jenga              Games       $2.99
16          17        Kids Makeup Kit       Art & Crafts      $13.99
17          18            Lego Bricks               Toys      $34.99
18          19             Magic Sand       Art & Crafts      $13.99
19          20   Mini Basketball Hoop  Sports & Outdoors       $8.99
20          21     Mini Ping Pong Set  Sports & Outdoors       $6.99
21          22               Monopoly              Games      $13.99
22          23         Mr. Potatohead               Toys       $4.99
23          24               Nerf Gun  Sports & Outdoors      $14.99
24          25            PlayDoh Can       Art & Crafts       $1.99
25          26        PlayDoh Playset       Art & Crafts      $20.99
26          27        PlayDoh Toolkit       Art & Crafts       $3.99
27          28               Playfoam       Art & Crafts       $3.99
28          29             Plush Pony               Toys       $8.99
29          30           Rubik's Cube              Games      $17.99
30          31           Splash Balls  Sports & Outdoors       $7.99
31          32  Supersoaker Water Gun  Sports & Outdoors      $11.99
32          33             Teddy Bear               Toys      $10.99
33          34              Toy Robot        Electronics      $20.99
34          35          Uno Card Game              Games       $3.99

   Product_Price
0        $15.99
1        $12.99
2         $3.99
3        $12.99
4         $9.99
5        $14.99
6        $15.99
7         $6.99
8        $10.99
9        $14.99
10       $20.99
11       $11.99
12       $20.99
13       $10.99
14        $5.99
15        $9.99
16       $19.99
17       $39.99
18       $15.99
19       $24.99
20        $9.99
21       $19.99
22        $9.99
23       $19.99
24        $2.99
25       $24.99
26        $4.99
27       $10.99
28       $19.99
29       $19.99
30        $8.99
31       $14.99
32       $12.99
33       $25.99
34        $7.99
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\sales.csv
        Sale_ID        Date  Store_ID  Product_ID  Units
0             1  2017-01-01        24           4      1
1             2  2017-01-01        28           1      1
2             3  2017-01-01         6           8      1
3             4  2017-01-01        48           7      1
4             5  2017-01-01        44          18      1
...         ...         ...       ...         ...    ...
829257   829258  2018-09-30        24          19      1
829258   829259  2018-09-30        16          35      1
829259   829260  2018-09-30        22          19      1
829260   829261  2018-09-30        13           2      2
829261   829262  2018-09-30        32           6      1

[829262 rows x 5 columns]
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\stores.csv
    Store_ID                     Store_Name        Store_City Store_Location  \
0          1       Maven Toys Guadalajara 1       Guadalajara    Residential
1          2         Maven Toys Monterrey 1         Monterrey    Residential
2          3       Maven Toys Guadalajara 2       Guadalajara     Commercial
3          4          Maven Toys Saltillo 1          Saltillo       Downtown
4          5            Maven Toys La Paz 1            La Paz       Downtown
5          6          Maven Toys Mexicali 1          Mexicali     Commercial
6          7         Maven Toys Monterrey 2         Monterrey       Downtown
7          8           Maven Toys Pachuca 1           Pachuca       Downtown
8          9  Maven Toys Ciudad de Mexico 1  Cuidad de Mexico       Downtown
9         10          Maven Toys Campeche 1          Campeche       Downtown
10        11        Maven Toys Cuernavaca 1        Cuernavaca       Downtown
11        12          Maven Toys Chetumal 1          Chetumal       Downtown
12        13          Maven Toys Mexicali 2          Mexicali       Downtown
13        14        Maven Toys Guanajuato 1        Guanajuato       Downtown
14        15  Maven Toys Tuxtla Gutierrez 1  Tuxtla Gutierrez       Downtown
15        16   Maven Toys San Luis Potosi 1   San Luis Potosi       Downtown
16        17            Maven Toys Toluca 1            Toluca       Downtown
17        18            Maven Toys Merida 1            Merida       Downtown
18        19            Maven Toys Puebla 1            Puebla     Commercial
19        20         Maven Toys Zacatecas 1         Zacatecas       Downtown
20        21          Maven Toys Santiago 1          Santiago       Downtown
21        22        Maven Toys Guanajuato 2        Guanajuato     Commercial
22        23         Maven Toys Chihuahua 1         Chihuahua     Commercial
23        24    Maven Toys Aguascalientes 1    Aguascalientes       Downtown
24        25   Maven Toys Ciudad Victoria 1   Ciudad Victoria       Downtown
25        26          Maven Toys Campeche 2          Campeche     Commercial
26        27            Maven Toys Oaxaca 1            Oaxaca       Downtown
27        28            Maven Toys Puebla 2            Puebla       Downtown
28        29            Maven Toys Xalapa 1            Xalapa     Commercial
29        30       Maven Toys Guadalajara 3       Guadalajara        Airport
30        31  Maven Toys Ciudad de Mexico 2  Cuidad de Mexico        Airport
31        32        Maven Toys Hermosillo 1        Hermosillo    Residential
32        33         Maven Toys Monterrey 3         Monterrey        Airport
33        34      Maven Toys Villahermosa 1      Villahermosa       Downtown
34        35      Maven Toys Chilpancingo 1      Chilpancingo       Downtown
35        36           Maven Toys Morelia 1           Morelia       Downtown
36        37  Maven Toys Ciudad de Mexico 3  Cuidad de Mexico    Residential
37        38         Maven Toys Chihuahua 2         Chihuahua       Downtown
38        39            Maven Toys Xalapa 2            Xalapa       Downtown
39        40            Maven Toys Toluca 2            Toluca     Commercial
40        41        Maven Toys Hermosillo 2        Hermosillo       Downtown
41        42        Maven Toys Hermosillo 3        Hermosillo     Commercial
42        43           Maven Toys Durango 1           Durango       Downtown
43        44            Maven Toys Puebla 3            Puebla    Residential
44        45  Maven Toys Ciudad de Mexico 4  Cuidad de Mexico     Commercial
45        46       Maven Toys Guadalajara 4       Guadalajara       Downtown
46        47         Maven Toys Monterrey 4         Monterrey     Commercial
47        48          Maven Toys Saltillo 2          Saltillo     Commercial
48        49          Maven Toys Culiacan 1          Culiacan       Downtown
49        50        Maven Toys Guanajuato 3        Guanajuato    Residential

   Store_Open_Date
0       1992-09-18
1       1995-04-27
2       1999-12-27
3       2000-01-01
4       2001-05-31
5       2003-12-13
6       2003-12-25
7       2004-10-14
8       2004-10-15
9       2005-01-14
10      2005-04-19
11      2006-05-05
12      2006-08-30
13      2007-01-31
14      2007-03-05
15      2007-05-19
16      2007-12-09
17      2008-08-22
18      2008-12-16
19      2009-05-29
20      2009-11-23
21      2010-03-29
22      2010-06-12
23      2010-07-31
24      2010-09-08
25      2010-09-15
26      2010-10-02
27      2011-04-01
28      2011-06-21
29      2011-10-20
30      2012-05-04
31      2012-08-31
32      2013-03-17
33      2013-06-07
34      2013-06-11
35      2013-07-01
36      2013-11-28
37      2014-03-18
38      2014-04-21
39      2014-05-27
40      2014-06-01
41      2014-06-27
42      2014-06-30
43      2014-12-27
44      2015-06-21
45      2015-10-31
46      2015-11-21
47      2016-03-23
48      2016-05-10
49      2016-05-18

In [4]:
import glob

# getting csv files from the folder MyProject
path = "D:\My commercial projects\Python\Mexico Toy Sales\Data Dictionary"

# read all the files with extension .csv
filenames = glob.glob(path + "\*.csv")
print('File names:', filenames)

# for loop to iterate all csv files
for file in filenames:
   # reading csv files
   print("Reading file = ",file)
   print(pd.read_csv(file))

File names: ['D:\\My commercial projects\\Python\\Mexico Toy Sales\\Data Dictionary\\inventory_data_dictionary.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\Data Dictionary\\products_data_dictionary.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\Data Dictionary\\sales_data_dictionary.csv', 'D:\\My commercial projects\\Python\\Mexico Toy Sales\\Data Dictionary\\stores_data_dictionary.csv']
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\Data Dictionary\inventory_data_dictionary.csv
           Field                                        Description
0       Store_ID                                           Store ID
1     Product_ID                                         Product ID
2  Stock_On_Hand  Stock quantity of the product in the store (in...
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\Data Dictionary\products_data_dictionary.csv
              Field                  Description
0        Product_ID                   Product ID
1      Product_Name                 Product name
2  Product_Category             Product Category
3      Product_Cost          Product cost ($USD)
4     Product_Price  Product retail price ($USD)
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\Data Dictionary\sales_data_dictionary.csv
        Field              Description
0     Sale_ID                  Sale ID
1        Date  Date of the transaction
2    Store_ID                 Store ID
3  Product_ID               Product ID
4       Units               Units sold
Reading file =  D:\My commercial projects\Python\Mexico Toy Sales\Data Dictionary\stores_data_dictionary.csv
             Field                                      Description
0         Store_ID                                         Store ID
1       Store_Name                                       Store name
2       Store_City        City in Mexico where the store is located
3   Store_Location  Location in the city where the store is located
4  Store_Open_Date                   Date when the store was opened

#### transfer .csv to dataframe

In [5]:
dfInventory = pd.read_csv('D:\My commercial projects\Python\Project 2\Mexico Toy Sales\inventory.csv', index_col=0)

dfInventory

          Product_ID  Stock_On_Hand
Store_ID
1                  1             27
1                  2              0
1                  3             32
1                  4              6
1                  5              0
...              ...            ...
50                31             18
50                32              9
50                33              1
50                34             17
50                35              8

[1593 rows x 2 columns]

In [6]:
dfProducts = pd.read_csv('D:\My commercial projects\Python\Project 2\Mexico Toy Sales\products.csv', index_col=0)

dfProducts

,Product_Name,Product_Category,Product_Cost,Product_Price
Product_ID,,,,
1,Action Figure,Toys,$9.99,$15.99
2,Animal Figures,Toys,$9.99,$12.99
3,Barrel O' Slime,Art & Crafts,$1.99,$3.99
4,Chutes & Ladders,Games,$9.99,$12.99
5,Classic Dominoes,Games,$7.99,$9.99
6,Colorbuds,Electronics,$6.99,$14.99
7,Dart Gun,Sports & Outdoors,$11.99,$15.99
8,Deck Of Cards,Games,$3.99,$6.99
9,Dino Egg,Toys,$9.99,$10.99
10,Dinosaur Figures,Toys,$10.99,$14.99
11,Etch A Sketch,Art & Crafts,$10.99,$20.99
12,Foam Disk Launcher,Sports & Outdoors,$8.99,$11.99
13,Gamer Headphones,Electronics,$14.99,$20.99
14,Glass Marbles,Games,$5.99,$10.99
15,Hot Wheels 5-Pack,Toys,$3.99,$5.99
16,Jenga,Games,$2.99,$9.99
17,Kids Makeup Kit,Art & Crafts,$13.99,$19.99
18,Lego Bricks,Toys,$34.99,$39.99
19,Magic Sand,Art & Crafts,$13.99,$15.99
20,Mini Basketball Hoop,Sports & Outdoors,$8.99,$24.99
21,Mini Ping Pong Set,Sports & Outdoors,$6.99,$9.99
22,Monopoly,Games,$13.99,$19.99
23,Mr. Potatohead,Toys,$4.99,$9.99
24,Nerf Gun,Sports & Outdoors,$14.99,$19.99
25,PlayDoh Can,Art & Crafts,$1.99,$2.99
26,PlayDoh Playset,Art & Crafts,$20.99,$24.99
27,PlayDoh Toolkit,Art & Crafts,$3.99,$4.99
28,Playfoam,Art & Crafts,$3.99,$10.99
29,Plush Pony,Toys,$8.99,$19.99
30,Rubik's Cube,Games,$17.99,$19.99
31,Splash Balls,Sports & Outdoors,$7.99,$8.99
32,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99
33,Teddy Bear,Toys,$10.99,$12.99
34,Toy Robot,Electronics,$20.99,$25.99
35,Uno Card Game,Games,$3.99,$7.99

In [7]:
dfStores =  pd.read_csv('D:\My commercial projects\Python\Project 2\Mexico Toy Sales\stores.csv', index_col=0)

dfStores

,Store_Name,Store_City,Store_Location,Store_Open_Date
Store_ID,,,,
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18
2,Maven Toys Monterrey 1,Monterrey,Residential,1995-04-27
3,Maven Toys Guadalajara 2,Guadalajara,Commercial,1999-12-27
4,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01
5,Maven Toys La Paz 1,La Paz,Downtown,2001-05-31
6,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13
7,Maven Toys Monterrey 2,Monterrey,Downtown,2003-12-25
8,Maven Toys Pachuca 1,Pachuca,Downtown,2004-10-14
9,Maven Toys Ciudad de Mexico 1,Cuidad de Mexico,Downtown,2004-10-15
10,Maven Toys Campeche 1,Campeche,Downtown,2005-01-14
11,Maven Toys Cuernavaca 1,Cuernavaca,Downtown,2005-04-19
12,Maven Toys Chetumal 1,Chetumal,Downtown,2006-05-05
13,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
14,Maven Toys Guanajuato 1,Guanajuato,Downtown,2007-01-31
15,Maven Toys Tuxtla Gutierrez 1,Tuxtla Gutierrez,Downtown,2007-03-05
16,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19
17,Maven Toys Toluca 1,Toluca,Downtown,2007-12-09
18,Maven Toys Merida 1,Merida,Downtown,2008-08-22
19,Maven Toys Puebla 1,Puebla,Commercial,2008-12-16
20,Maven Toys Zacatecas 1,Zacatecas,Downtown,2009-05-29
21,Maven Toys Santiago 1,Santiago,Downtown,2009-11-23
22,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29
23,Maven Toys Chihuahua 1,Chihuahua,Commercial,2010-06-12
24,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
25,Maven Toys Ciudad Victoria 1,Ciudad Victoria,Downtown,2010-09-08
26,Maven Toys Campeche 2,Campeche,Commercial,2010-09-15
27,Maven Toys Oaxaca 1,Oaxaca,Downtown,2010-10-02
28,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01
29,Maven Toys Xalapa 1,Xalapa,Commercial,2011-06-21
30,Maven Toys Guadalajara 3,Guadalajara,Airport,2011-10-20
31,Maven Toys Ciudad de Mexico 2,Cuidad de Mexico,Airport,2012-05-04
32,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31
33,Maven Toys Monterrey 3,Monterrey,Airport,2013-03-17
34,Maven Toys Villahermosa 1,Villahermosa,Downtown,2013-06-07
35,Maven Toys Chilpancingo 1,Chilpancingo,Downtown,2013-06-11
36,Maven Toys Morelia 1,Morelia,Downtown,2013-07-01
37,Maven Toys Ciudad de Mexico 3,Cuidad de Mexico,Residential,2013-11-28
38,Maven Toys Chihuahua 2,Chihuahua,Downtown,2014-03-18
39,Maven Toys Xalapa 2,Xalapa,Downtown,2014-04-21
40,Maven Toys Toluca 2,Toluca,Commercial,2014-05-27
41,Maven Toys Hermosillo 2,Hermosillo,Downtown,2014-06-01
42,Maven Toys Hermosillo 3,Hermosillo,Commercial,2014-06-27
43,Maven Toys Durango 1,Durango,Downtown,2014-06-30
44,Maven Toys Puebla 3,Puebla,Residential,2014-12-27
45,Maven Toys Ciudad de Mexico 4,Cuidad de Mexico,Commercial,2015-06-21
46,Maven Toys Guadalajara 4,Guadalajara,Downtown,2015-10-31
47,Maven Toys Monterrey 4,Monterrey,Commercial,2015-11-21
48,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23
49,Maven Toys Culiacan 1,Culiacan,Downtown,2016-05-10
50,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18

#### Combing dataframe

In [8]:
dfMergedLeftStoredAndProductToInventory = dfInventory.merge(dfStores, how='left', on='Store_ID').merge(dfProducts, how= 'left', on ='Product_ID')

dfMergedLeftStoredAndProductToInventory

,Product_ID,Stock_On_Hand,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,27,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,$9.99,$15.99
1,2,0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,$9.99,$12.99
2,3,32,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,$1.99,$3.99
3,4,6,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,$9.99,$12.99
4,5,0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,$7.99,$9.99
...,...,...,...,...,...,...,...,...,...,...
1588,31,18,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,$7.99,$8.99
1589,32,9,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99
1590,33,1,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,$10.99,$12.99
1591,34,17,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,$20.99,$25.99
1592,35,8,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,$3.99,$7.99

In [9]:
dfMergedLeftStoredAndProductToInventory.drop(columns='Product_ID', inplace=True)

#### change the position of column Stock_On_Hand

In [10]:
dfMergedLeftStoredAndProductToInventory

,Stock_On_Hand,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price
0,27,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,$9.99,$15.99
1,0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,$9.99,$12.99
2,32,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,$1.99,$3.99
3,6,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,$9.99,$12.99
4,0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,$7.99,$9.99
...,...,...,...,...,...,...,...,...,...
1588,18,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,$7.99,$8.99
1589,9,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99
1590,1,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,$10.99,$12.99
1591,17,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,$20.99,$25.99
1592,8,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,$3.99,$7.99

In [11]:
eigth_column = dfMergedLeftStoredAndProductToInventory.pop('Stock_On_Hand')

dfMergedLeftStoredAndProductToInventory.insert(8,'Stock_On_Hand',eigth_column )

dfMergedLeftStoredAndProductToInventory

,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,$9.99,$15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,$9.99,$12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,$1.99,$3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,$9.99,$12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,$7.99,$9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,$7.99,$8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,$10.99,$12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,$20.99,$25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,$3.99,$7.99,8

In [12]:
dfMergedLeftStoredAndProductToInventory

,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price,Stock_On_Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,$9.99,$15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,$9.99,$12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,$1.99,$3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,$9.99,$12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,$7.99,$9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,$7.99,$8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,$10.99,$12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,$20.99,$25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,$3.99,$7.99,8

#### Renaming the name of column

In [13]:
for col in dfMergedLeftStoredAndProductToInventory.columns:
    print(col)

Store_Name
Store_City
Store_Location
Store_Open_Date
Product_Name
Product_Category
Product_Cost
Product_Price
Stock_On_Hand

In [14]:
dfMergedLeftStoredAndProductToInventory.rename(columns = 
                                              {
                                                'Store_Name': 'Store Name',
                                                'Store_City': 'Store City',
                                                'Store_Location': 'Store Location',
                                                'Store_Open_Date': 'Store Open Date',
                                                'Product_Name': 'Product Name',
                                                'Product_Category': 'Product Category',
                                                'Product_Cost': 'Product Cost ($)',
                                                'Product_Price': 'Product Price ($)',
                                                'Stock_On_Hand': 'Stock On Hand' 
                                                },
                                                   inplace=True)

In [15]:
dfMergedLeftStoredAndProductToInventory

,Store Name,Store City,Store Location,Store Open Date,Product Name,Product Category,Product Cost ($),Product Price ($),Stock On Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,$9.99,$15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,$9.99,$12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,$1.99,$3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,$9.99,$12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,$7.99,$9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,$7.99,$8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,$10.99,$12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,$20.99,$25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,$3.99,$7.99,8

In [16]:
dfMergedLeftStoredAndProductToInventory['Product Cost ($)'] = dfMergedLeftStoredAndProductToInventory['Product Cost ($)'].apply(lambda x:x.replace('$','')).astype('float')
dfMergedLeftStoredAndProductToInventory['Product Price ($)'] = dfMergedLeftStoredAndProductToInventory['Product Price ($)'].apply(lambda x:x.replace('$','')).astype('float')

In [17]:
dfMergedLeftStoredAndProductToInventory

,Store Name,Store City,Store Location,Store Open Date,Product Name,Product Category,Product Cost ($),Product Price ($),Stock On Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,9.99,15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,9.99,12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,1.99,3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,9.99,12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,7.99,9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,7.99,8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,10.99,12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,20.99,25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,3.99,7.99,8

#### Data Cleaning

##### Looking for NaN values

In [18]:
for col in dfMergedLeftStoredAndProductToInventory.columns:
    pct_missing = round(np.mean(dfMergedLeftStoredAndProductToInventory[col].isnull()),2)
    print('{}-{}%'.format(col, pct_missing))

Store Name-0.0%
Store City-0.0%
Store Location-0.0%
Store Open Date-0.0%
Product Name-0.0%
Product Category-0.0%
Product Cost ($)-0.0%
Product Price ($)-0.0%
Stock On Hand-0.0%

In [19]:
dfMergedLeftStoredAndProductToInventory= dfMergedLeftStoredAndProductToInventory.dropna()
dfMergedLeftStoredAndProductToInventory

,Store Name,Store City,Store Location,Store Open Date,Product Name,Product Category,Product Cost ($),Product Price ($),Stock On Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,9.99,15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,9.99,12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,1.99,3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,9.99,12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,7.99,9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,7.99,8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,10.99,12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,20.99,25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,3.99,7.99,8

In [20]:
NaN_dfMergedLeftStoredAndProductToInventory = dfMergedLeftStoredAndProductToInventory[dfMergedLeftStoredAndProductToInventory.isna().any(axis=1)]
NaN_dfMergedLeftStoredAndProductToInventory.head()

Empty DataFrame
Columns: [Store Name, Store City, Store Location, Store Open Date, Product Name, Product Category, Product Cost ($), Product Price ($), Stock On Hand]
Index: []

In [21]:
dfMergedLeftStoredAndProductToInventory.isnull().sum()

Store Name           0
Store City           0
Store Location       0
Store Open Date      0
Product Name         0
Product Category     0
Product Cost ($)     0
Product Price ($)    0
Stock On Hand        0
dtype: int64

##### Looking for duplicates

In [22]:
dfMergedLeftStoredAndProductToInventory.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1588    False
1589    False
1590    False
1591    False
1592    False
Length: 1593, dtype: bool

In [23]:
dfMergedLeftStoredAndProductToInventory.nunique()

Store Name           50
Store City           29
Store Location        4
Store Open Date      50
Product Name         35
Product Category      5
Product Cost ($)     16
Product Price ($)    18
Stock On Hand        93
dtype: int64

In [24]:
dfMergedLeftStoredAndProductToInventoryDuplicate = dfMergedLeftStoredAndProductToInventory[dfMergedLeftStoredAndProductToInventory.duplicated()]

In [25]:
dfMergedLeftStoredAndProductToInventoryDuplicate

Empty DataFrame
Columns: [Store Name, Store City, Store Location, Store Open Date, Product Name, Product Category, Product Cost ($), Product Price ($), Stock On Hand]
Index: []

##### EDA

In [26]:
dfMergedLeftStoredAndProductToInventory

,Store Name,Store City,Store Location,Store Open Date,Product Name,Product Category,Product Cost ($),Product Price ($),Stock On Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,9.99,15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,9.99,12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,1.99,3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,9.99,12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,7.99,9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,7.99,8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,10.99,12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,20.99,25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,3.99,7.99,8

In [27]:
dfMergedLeftStoredAndProductToInventory.dtypes

Store Name            object
Store City            object
Store Location        object
Store Open Date       object
Product Name          object
Product Category      object
Product Cost ($)     float64
Product Price ($)    float64
Stock On Hand          int64
dtype: object

In [28]:
for col in dfMergedLeftStoredAndProductToInventory.columns:
    print(col)

Store Name
Store City
Store Location
Store Open Date
Product Name
Product Category
Product Cost ($)
Product Price ($)
Stock On Hand

In [29]:
dfMergedLeftStoredAndProductToInventory['Store Open Date'] = dfMergedLeftStoredAndProductToInventory['Store Open Date'].apply(pd.to_datetime)

In [30]:
dfMergedLeftStoredAndProductToInventory.dtypes

Store Name                   object
Store City                   object
Store Location               object
Store Open Date      datetime64[ns]
Product Name                 object
Product Category             object
Product Cost ($)            float64
Product Price ($)           float64
Stock On Hand                 int64
dtype: object

In [31]:
dfMergedLeftStoredAndProductToInventory

,Store Name,Store City,Store Location,Store Open Date,Product Name,Product Category,Product Cost ($),Product Price ($),Stock On Hand
0,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Action Figure,Toys,9.99,15.99,27
1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Animal Figures,Toys,9.99,12.99,0
2,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Barrel O' Slime,Art & Crafts,1.99,3.99,32
3,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Chutes & Ladders,Games,9.99,12.99,6
4,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Classic Dominoes,Games,7.99,9.99,0
...,...,...,...,...,...,...,...,...,...
1588,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Splash Balls,Sports & Outdoors,7.99,8.99,18
1589,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Supersoaker Water Gun,Sports & Outdoors,11.99,14.99,9
1590,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Teddy Bear,Toys,10.99,12.99,1
1591,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Toy Robot,Electronics,20.99,25.99,17
1592,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18,Uno Card Game,Games,3.99,7.99,8

Further calculations:
Total product revenue: £50
Total production costs: £15
Gross profit: 50-15 = £35
Gross profit margin: 35/50 x 100 = 70

Calculations =  https://www.kaggle.com/datasets/mysarahmadbhat/toy-sales
Sales & inventory data for a fictitious chain of toy stores in Mexico called Maven Toys, including information about products, stores, daily sales transactions, and current inventory levels at each location.

Recommended Analysis
Which product categories drive the biggest profits? Is this the same across store locations?

Can you find any seasonal trends or patterns in the sales data?

Are sales being lost with out-of-stock products at certain locations?

How much money is tied up in inventory at the toy stores? How long will it last?

calculations -> how many stories they have; how long they work (years); grouping date, which store provides the best profit; which products and visualise it, how many we have these product in stocks and which have the most. using advanced functions.